    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="footer-content">
          <div class="footer-bottom">
            <div class="footer-copy">
              <p>© 2025 Dominic Minischetti</p>
              <p>
                Dedicated to optimizing performance and building scalable
                backend systems. I've been crafting fast, reliable solutions
                since 2012.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>