.subscribe-box {
    background: var(--theme);
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.subscribe-box p {
    font-size: 1em;
    color: var(--secondary);
}

.subscribe-box input[type="email"] {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid var(--border);
    border-radius: 5px;
}

.subscribe-box input[type="submit"] {
    background: var(--primary);
    color: var(--theme);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.subscribe-box input[type="submit"]:hover {
    background: var(--secondary);
}
