<figure class="gallery-item">
    <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" loading="lazy">
    <figcaption>
        <p>{{ .Get "caption" }}</p>
      <div class="like-container">
        <!-- LikeBtn.com BEGIN -->
        <span class="likebtn-wrapper"
              data-theme="custom"
              data-icon_l="hrt6"
              data-icon_l_c_v="#fb0505"
              data-identifier="{{ .Get "identifier" }}"
              data-dislike_enabled="false"
              data-share_size="small"
              data-site_id="67cb04686fd08b80699cf556"></span>
        <!-- LikeBtn.com END -->
      </div>
    </figcaption>
  </figure>
  
  <style>
    .like-container {
      text-align: right; /* Aligns like button to the right */
      margin-top: 5px;
    }
  </style>